In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt 
df2 = pd.read_excel('df1_Imported.xlsx', index_col=0)
df2.head(1)

,campaign_period_sales,historical_sales_volume,date_of_first_purchase,number_of_prior_year_transactions,do_not_direct_mail_solicit,do_not_email,do_not_telemarket,repurchase_method,last_transaction_channel,desk,executive_chair,standard_chair,monitor,printer,computer,insurance,toner,office_supplies,number_of_employees,language
customer_number,,,,,,,,,,,,,,,,,,,,
86734.0,238.704762,146803.428571,1968-10-01,15.0,0.0,0.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,N,Y,N,Y,6-10,English

In [3]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 16173 entries, 86734.0 to nan
Data columns (total 20 columns):
campaign_period_sales                16172 non-null float64
historical_sales_volume              16172 non-null float64
date_of_first_purchase               16172 non-null datetime64[ns]
number_of_prior_year_transactions    16172 non-null float64
do_not_direct_mail_solicit           16172 non-null float64
do_not_email                         16172 non-null float64
do_not_telemarket                    16172 non-null float64
repurchase_method                    16172 non-null object
last_transaction_channel             15730 non-null object
desk                                 16173 non-null object
executive_chair                      16171 non-null object
standard_chair                       16171 non-null object
monitor                              16171 non-null object
printer                              16171 non-null object
computer                             16172 non-null object
insurance                            16170 non-null object
toner                                16170 non-null object
office_supplies                      16172 non-null object
number_of_employees                  16170 non-null object
language                             11701 non-null object
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 2.6+ MB

In [4]:
df2.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
campaign_period_sales,16172.0,245.896967,720.317450,-566.5,0.00,0.000,145.669048,8936.85
historical_sales_volume,16172.0,671676.297195,956627.051684,-164303.1,190018.75,396503.925,787615.882857,34412125.80
number_of_prior_year_transactions,16172.0,14.483119,8.031293,1.0,8.00,16.000,20.000000,313.00
do_not_direct_mail_solicit,16172.0,0.107841,0.310189,0.0,0.00,0.000,0.000000,1.00
do_not_email,16172.0,0.211848,0.408630,0.0,0.00,0.000,0.000000,1.00
do_not_telemarket,16172.0,0.097638,0.296834,0.0,0.00,0.000,0.000000,1.00

In [5]:
df2.describe(include="object").T

                          count unique      top   freq
repurchase_method         16172      3   NOTICE  11903
last_transaction_channel  15730      8     MAIL   7769
desk                      16173      4        N  15260
executive_chair           16171      2        N  15014
standard_chair            16171      2        N  15890
monitor                   16171      2        N  15873
printer                   16171      2        N  15745
computer                  16172      3        N  15941
insurance                 16170      3        N  14238
toner                     16170      3        N  15111
office_supplies           16172      2        Y  11803
number_of_employees       16170      7     6-10   5230
language                  11701     18  English  11317

In [15]:
#df2.info() shows 16173 entries but the majority of columns have only 16172 entries. Next need to locate row with NaN data (using Campaign Period Sales -the critical y/dependent value) 
df2.loc[df2.campaign_period_sales.isnull()]

Empty DataFrame
Columns: [campaign_period_sales, historical_sales_volume, date_of_first_purchase, number_of_prior_year_transactions, do_not_direct_mail_solicit, do_not_email, do_not_telemarket, repurchase_method, last_transaction_channel, desk, executive_chair, standard_chair, monitor, printer, computer, insurance, toner, office_supplies, number_of_employees, language]
Index: []

In [16]:
#Deletes specific row
#df2.drop(labels=NaN, axis=0, inplace=True) - name error 
cust_num_nan = df2.loc[df2.campaign_period_sales.isnull()].index
df2.drop(labels=cust_num_nan, axis=0, inplace=True)

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 16172 entries, 86734.0 to 167235933.0
Data columns (total 20 columns):
campaign_period_sales                16172 non-null float64
historical_sales_volume              16172 non-null float64
date_of_first_purchase               16172 non-null datetime64[ns]
number_of_prior_year_transactions    16172 non-null float64
do_not_direct_mail_solicit           16172 non-null float64
do_not_email                         16172 non-null float64
do_not_telemarket                    16172 non-null float64
repurchase_method                    16172 non-null object
last_transaction_channel             15730 non-null object
desk                                 16172 non-null object
executive_chair                      16171 non-null object
standard_chair                       16171 non-null object
monitor                              16171 non-null object
printer                              16171 non-null object
computer                             16172 non-null object
insurance                            16170 non-null object
toner                                16170 non-null object
office_supplies                      16172 non-null object
number_of_employees                  16170 non-null object
language                             11701 non-null object
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 2.6+ MB

Intent: to find extent of missing/Nan entries across columns

In [18]:
#create a boolean df - not null or null (NaN) - from DataCamp_Dealing_with_Missing_Data
Not_number = df2.isnull()
print(type(Not_number))
Not_number.head()

<class 'pandas.core.frame.DataFrame'>

,campaign_period_sales,historical_sales_volume,date_of_first_purchase,number_of_prior_year_transactions,do_not_direct_mail_solicit,do_not_email,do_not_telemarket,repurchase_method,last_transaction_channel,desk,executive_chair,standard_chair,monitor,printer,computer,insurance,toner,office_supplies,number_of_employees,language
customer_number,,,,,,,,,,,,,,,,,,,,
86734.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
97098.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
100836.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
116390.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
127914.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [19]:
#Calculate the number of NaN entries per column
Not_number.sum()

campaign_period_sales                   0
historical_sales_volume                 0
date_of_first_purchase                  0
number_of_prior_year_transactions       0
do_not_direct_mail_solicit              0
do_not_email                            0
do_not_telemarket                       0
repurchase_method                       0
last_transaction_channel              442
desk                                    0
executive_chair                         1
standard_chair                          1
monitor                                 1
printer                                 1
computer                                0
insurance                               2
toner                                   2
office_supplies                         0
number_of_employees                     2
language                             4471
dtype: int64

In [20]:
# Calculate the percent of missing entries per data column
Not_number_percent = np.round(Not_number.mean() * 100, 2)
print('Percent of missing values:\n', Not_number_percent)

Percent of missing values:
 campaign_period_sales                 0.00
historical_sales_volume               0.00
date_of_first_purchase                0.00
number_of_prior_year_transactions     0.00
do_not_direct_mail_solicit            0.00
do_not_email                          0.00
do_not_telemarket                     0.00
repurchase_method                     0.00
last_transaction_channel              2.73
desk                                  0.00
executive_chair                       0.01
standard_chair                        0.01
monitor                               0.01
printer                               0.01
computer                              0.00
insurance                             0.01
toner                                 0.01
office_supplies                       0.00
number_of_employees                   0.01
language                             27.65
dtype: float64

In [21]:
#find rows with NAN entries by column
idx_missing0 = df2.loc[df2.executive_chair.isnull()].index
print(idx_missing0)
# Review how many variables have missing information in the row
df2.loc[idx_missing0]

Float64Index([8793672.0], dtype='float64', name='customer_number')

,campaign_period_sales,historical_sales_volume,date_of_first_purchase,number_of_prior_year_transactions,do_not_direct_mail_solicit,do_not_email,do_not_telemarket,repurchase_method,last_transaction_channel,desk,executive_chair,standard_chair,monitor,printer,computer,insurance,toner,office_supplies,number_of_employees,language
customer_number,,,,,,,,,,,,,,,,,,,,
8793672.0,0.0,360484.8,1990-08-15,2.0,0.0,0.0,0.0,AUTO RENEW,WEB,N,NaN,NaN,NaN,NaN,N,NaN,NaN,N,,NaN

In [22]:
# Delete row - has multiple missing entries
df2.drop(labels=idx_missing0, axis=0, inplace=True)

In [23]:
#find rows with NAN entries by column
idx_missing1 = df2.loc[df2.standard_chair.isnull()].index
print(idx_missing1)

Float64Index([], dtype='float64', name='customer_number')

In [24]:
#find rows with NAN entries by column
idx_missing2 = df2.loc[df2.monitor.isnull()].index
print(idx_missing2)

Float64Index([], dtype='float64', name='customer_number')

In [25]:
idx_missing3 = df2.loc[df2.printer.isnull()].index
print(idx_missing3)

Float64Index([], dtype='float64', name='customer_number')

In [26]:
idx_missing4 = df2.loc[df2.insurance.isnull()].index
print(idx_missing4)
#Review row to identify additional variables missing
df2.loc[idx_missing4]

Float64Index([52978373.0], dtype='float64', name='customer_number')

,campaign_period_sales,historical_sales_volume,date_of_first_purchase,number_of_prior_year_transactions,do_not_direct_mail_solicit,do_not_email,do_not_telemarket,repurchase_method,last_transaction_channel,desk,executive_chair,standard_chair,monitor,printer,computer,insurance,toner,office_supplies,number_of_employees,language
customer_number,,,,,,,,,,,,,,,,,,,,
52978373.0,0.0,1.135111e+06,2007-10-30,2.0,1.0,1.0,1.0,NOTICE,BILLING,N,N,N,N,N,N,NaN,NaN,N,,NaN

In [27]:
# Delete row - three entries are missing
df2.drop(labels=idx_missing4, axis=0, inplace=True)

In [28]:
idx_missing5 = df2.loc[df2.toner.isnull()].index
print(idx_missing5)

Float64Index([], dtype='float64', name='customer_number')

In [29]:
idx_missing6 = df2.loc[df2.number_of_employees.isnull()].index
print(idx_missing6)
#Review rows to see how many variables are missing. 
df2.loc[idx_missing6]
#Only missing data is from the one variable/column so will keep the rows for now.

Float64Index([24078364.0, 26537607.0], dtype='float64', name='customer_number')

,campaign_period_sales,historical_sales_volume,date_of_first_purchase,number_of_prior_year_transactions,do_not_direct_mail_solicit,do_not_email,do_not_telemarket,repurchase_method,last_transaction_channel,desk,executive_chair,standard_chair,monitor,printer,computer,insurance,toner,office_supplies,number_of_employees,language
customer_number,,,,,,,,,,,,,,,,,,,,
24078364.0,3093.454000,6384889.056,1965-08-15,24.0,0.0,1.0,0.0,AUTO RENEW,AUTO RENEW,N,N,N,N,N,Y,Y,Y,Y,NaN,English
26537607.0,234.146667,189658.800,2012-10-30,15.0,0.0,0.0,0.0,NOTICE,WEB,Y,N,N,N,N,N,N,N,Y,NaN,English

In [30]:
# Review last_transaction_channel unique values to consider how to manage considerable % of NaN data
df2.last_transaction_channel.value_counts(dropna=False)

MAIL              7769
AUTO RENEW        3141
WEB               2647
PHONE             1096
BRANCH (POS)       633
NaN                442
BRANCH (PHONE)     411
BILLING             17
IT                  14
Name: last_transaction_channel, dtype: int64

In [31]:
#converting NaN data to value category 'unknown'
df2['last_transaction_channel'] = df2['last_transaction_channel'].fillna(value = 'unknown')

In [32]:
# Review language to consider how to manage missing data
df2.language.value_counts(dropna=False)

English       11317
NaN            4469
Spanish          88
Italian          46
Portuguese       41
Hindi            40
Chinese          34
Russian          24
Hebrew           20
Arabic           18
German           15
Greek            15
Japanese         11
Polish           10
Vietnamese        9
French            6
Korean            4
Thai              2
Pashto            1
Name: language, dtype: int64

In [33]:
# Recoding values to biggest possible categories
def languages2(lang):
    if lang == 'English':
        return 'English2'
    if lang == 'Spanish':
        return 'Other'
    if lang == 'Italian':
        return 'Other'
    if lang == 'Portuguese':
        return 'Other'
    if lang == 'French':
        return 'Other'
    if lang == 'Hindi':
        return 'Other'
    if lang == 'Pashto':
        return 'Other'
    if lang == 'Chinese':
        return 'Other'
    if lang == 'Russian':
        return 'Other'
    if lang == 'Hebrew':
        return 'Other'
    if lang == 'Arabic':
        return 'Other'
    if lang == 'Greek':
        return 'Other'
    if lang == 'German':
        return 'Other'
    if lang == 'Japanese':
        return 'Other'
    if lang == 'Polish':
        return 'Other'
    if lang == 'Vietnamese':
        return 'Other'
    if lang == 'Korean':
        return 'Other'
    if lang == 'Thai':
        return 'Other'
    else: 
        return 'Unknown'

In [34]:
df2['language_converted2'] = df2['language'].apply(languages2)
df2.language_converted2.value_counts(dropna=False)

English2    11317
Unknown      4469
Other         384
Name: language_converted2, dtype: int64

Review unique values across/by column

In [35]:
# From the describe output, 4 products (desk, computer, insurance, toner) have 3 values but ought to have just 2. Likely a miscode - need to find and manage the rows with this issue.
print(df2.desk.value_counts())
print(df2.computer.value_counts())
print(df2.insurance.value_counts())
print(df2.toner.value_counts())

N     15258
Y       911
YY        1
Name: desk, dtype: int64
N     15939
Y       230
YY        1
Name: computer, dtype: int64
N     14238
Y      1931
YY        1
Name: insurance, dtype: int64
N     15111
Y      1058
YY        1
Name: toner, dtype: int64

In [36]:
# Replacing desk
df2.desk = df2.desk.replace({'YY':'Y'})
df2.desk.value_counts()

N    15258
Y      912
Name: desk, dtype: int64

In [37]:
# Replacing computer
df2.computer = df2.computer.replace({'YY':'Y'})
df2.computer.value_counts(dropna=False)

N    15939
Y      231
Name: computer, dtype: int64

In [38]:
# Replacing insurance
df2.insurance = df2.insurance.replace({'YY':'Y'})
df2.insurance.value_counts(dropna=False)

N    14238
Y     1932
Name: insurance, dtype: int64

In [39]:
# Replacing toner
df2.toner = df2.toner.replace({'YY':'Y'})
df2.toner.value_counts(dropna=False)

N    15111
Y     1059
Name: toner, dtype: int64

In [40]:
# Reviewing repurchase_method's unique values
df2.repurchase_method.value_counts(dropna=False)
# only 1 count of the 3rd unique value

NOTICE          11902
AUTO RENEW       4267
PAYMENT PLAN        1
Name: repurchase_method, dtype: int64

In [41]:
# locate payment plan row 
df2.loc[df2.repurchase_method == 'PAYMENT PLAN']

,campaign_period_sales,historical_sales_volume,date_of_first_purchase,number_of_prior_year_transactions,do_not_direct_mail_solicit,do_not_email,do_not_telemarket,repurchase_method,last_transaction_channel,desk,...,standard_chair,monitor,printer,computer,insurance,toner,office_supplies,number_of_employees,language,language_converted2
customer_number,,,,,,,,,,,,,,,,,,,,,
12744514.0,2468.333333,315946.666667,2016-07-26,32.0,1.0,1.0,1.0,PAYMENT PLAN,unknown,N,...,N,N,N,N,N,N,N,,NaN,Unknown

In [42]:
# deleting a row based on customer_number index: 3 variables had missing data or NaN data. 
df2.drop(12744514.0, axis=0, inplace=True)

In [43]:
df2.repurchase_method.value_counts()

NOTICE        11902
AUTO RENEW     4267
Name: repurchase_method, dtype: int64

In [44]:
df2.number_of_employees.value_counts()
# Output shows 3743 blank entries - will turn categorical data into integer (using average of range) and reassign values using a variety of impute methods and review for best fit - see file GH3_Clean_Scalar_Data_Set

6-10       5230
           3743
1-5        2700
11-50      2236
51-100     1381
101-500     653
500+        224
Name: number_of_employees, dtype: int64

In [45]:
df2.describe(include='object').T

                          count unique       top   freq
repurchase_method         16169      2    NOTICE  11902
last_transaction_channel  16169      9      MAIL   7769
desk                      16169      2         N  15257
executive_chair           16169      2         N  15012
standard_chair            16169      2         N  15888
monitor                   16169      2         N  15871
printer                   16169      2         N  15743
computer                  16169      2         N  15938
insurance                 16169      2         N  14237
toner                     16169      2         N  15110
office_supplies           16169      2         Y  11803
number_of_employees       16167      7      6-10   5230
language                  11701     18   English  11317
language_converted2       16169      3  English2  11317

In [46]:
# delete the language column 
df2.drop(columns=['language'], axis=1, inplace=True)

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 16169 entries, 86734.0 to 167235933.0
Data columns (total 20 columns):
campaign_period_sales                16169 non-null float64
historical_sales_volume              16169 non-null float64
date_of_first_purchase               16169 non-null datetime64[ns]
number_of_prior_year_transactions    16169 non-null float64
do_not_direct_mail_solicit           16169 non-null float64
do_not_email                         16169 non-null float64
do_not_telemarket                    16169 non-null float64
repurchase_method                    16169 non-null object
last_transaction_channel             16169 non-null object
desk                                 16169 non-null object
executive_chair                      16169 non-null object
standard_chair                       16169 non-null object
monitor                              16169 non-null object
printer                              16169 non-null object
computer                             16169 non-null object
insurance                            16169 non-null object
toner                                16169 non-null object
office_supplies                      16169 non-null object
number_of_employees                  16167 non-null object
language_converted2                  16169 non-null object
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 2.6+ MB

In [49]:
# Will save this cleaned data set and start another notebook page to manage cleaning/recoding scalar data
df2_NaN_Cleaned = df2
df2_NaN_Cleaned.to_excel(r'C:\Users\emmae\Documents\Emma - Career Development\Columbia Data Science Diploma Program\CapStoneProject\df2_NaN_Cleaned.xlsx')