In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt 

#Turn the excel work book into a python readable data frame
file = 'Office Supply Data.xlsx'
data = pd.ExcelFile(file)

In [2]:
#Review how many worksheets were in the excel spreadsheet
print(data.sheet_names)

['Campaign Results', 'Data Dictionary']

In [3]:
# Using just the data from the first worksheet
df1 = data.parse(0)

In [4]:
#Taking a look at the column headers and first row of the data set
df1.head(1)

,Customer Number,Campaign Period Sales,Historical Sales Volume,Date of First Purchase,Number of Prior Year Transactions,Do Not Direct Mail Solicit,Do Not Email,Do Not Telemarket,Repurchase Method,Last Transaction Channel,...,Executive Chair,Standard Chair,Monitor,Printer,Computer,Insurance,Toner,Office Supplies,Number of Employees,Language
0,86734.0,238.704762,146803.428571,1968-10-01,15.0,0.0,0.0,0.0,AUTO RENEW,AUTO RENEW,...,N,N,N,N,N,Y,N,Y,6-10,English

In [5]:
# Taking first look at the type of data set (panda data frame as expected) and types of data in the set, as well as the number of rows of data.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16173 entries, 0 to 16172
Data columns (total 21 columns):
Customer Number                      16172 non-null float64
Campaign Period Sales                16172 non-null float64
Historical Sales Volume              16172 non-null float64
Date of First Purchase               16172 non-null datetime64[ns]
Number of Prior Year Transactions    16172 non-null float64
Do Not Direct Mail Solicit           16172 non-null float64
Do Not Email                         16172 non-null float64
Do Not Telemarket                    16172 non-null float64
Repurchase Method                    16172 non-null object
Last Transaction Channel             15730 non-null object
Desk                                 16173 non-null object
Executive Chair                      16171 non-null object
Standard Chair                       16171 non-null object
Monitor                              16171 non-null object
Printer                              16171 non-null object
Computer                             16172 non-null object
Insurance                            16170 non-null object
Toner                                16170 non-null object
Office Supplies                      16172 non-null object
Number of Employees                  16170 non-null object
Language                             11701 non-null object
dtypes: datetime64[ns](1), float64(7), object(13)
memory usage: 2.6+ MB

In [6]:
# Looking at basic stats of continuous data types 
df1.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
Customer Number,16172.0,2.070406e+07,1.898585e+07,86734.0,9100472.00,1.807196e+07,2.712137e+07,1.672359e+08
Campaign Period Sales,16172.0,2.458970e+02,7.203174e+02,-566.5,0.00,0.000000e+00,1.456690e+02,8.936850e+03
Historical Sales Volume,16172.0,6.716763e+05,9.566271e+05,-164303.1,190018.75,3.965039e+05,7.876159e+05,3.441213e+07
Number of Prior Year Transactions,16172.0,1.448312e+01,8.031293e+00,1.0,8.00,1.600000e+01,2.000000e+01,3.130000e+02
Do Not Direct Mail Solicit,16172.0,1.078407e-01,3.101887e-01,0.0,0.00,0.000000e+00,0.000000e+00,1.000000e+00
Do Not Email,16172.0,2.118476e-01,4.086301e-01,0.0,0.00,0.000000e+00,0.000000e+00,1.000000e+00
Do Not Telemarket,16172.0,9.763789e-02,2.968336e-01,0.0,0.00,0.000000e+00,0.000000e+00,1.000000e+00

In [7]:
# Looking at basic counts of discrete data types
df1.describe(include="object").T

                          count unique      top   freq
Repurchase Method         16172      3   NOTICE  11903
Last Transaction Channel  15730      8     MAIL   7769
Desk                      16173      4        N  15260
Executive Chair           16171      2        N  15014
Standard Chair            16171      2        N  15890
Monitor                   16171      2        N  15873
Printer                   16171      2        N  15745
Computer                  16172      3        N  15941
Insurance                 16170      3        N  14238
Toner                     16170      3        N  15111
Office Supplies           16172      2        Y  11803
Number of Employees       16170      7     6-10   5230
Language                  11701     18  English  11317

In [8]:
# Transforming column names to be more python friendly 
df1.columns = [col.strip().lower().replace(' ', '_') for col in df1.columns]

In [9]:
# Checking to see if transformation went to plan
print(df1.columns)

Index(['customer_number', 'campaign_period_sales', 'historical_sales_volume',
       'date_of_first_purchase', 'number_of_prior_year_transactions',
       'do_not_direct_mail_solicit', 'do_not_email', 'do_not_telemarket',
       'repurchase_method', 'last_transaction_channel', 'desk',
       'executive_chair', 'standard_chair', 'monitor', 'printer', 'computer',
       'insurance', 'toner', 'office_supplies', 'number_of_employees',
       'language'],
      dtype='object')

In [10]:
# Setting the unique customer number to the row index. 
df1 = df1.set_index(['customer_number'])

In [11]:
# Reviewing data again. 
df1.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 16173 entries, 86734.0 to nan
Data columns (total 20 columns):
campaign_period_sales                16172 non-null float64
historical_sales_volume              16172 non-null float64
date_of_first_purchase               16172 non-null datetime64[ns]
number_of_prior_year_transactions    16172 non-null float64
do_not_direct_mail_solicit           16172 non-null float64
do_not_email                         16172 non-null float64
do_not_telemarket                    16172 non-null float64
repurchase_method                    16172 non-null object
last_transaction_channel             15730 non-null object
desk                                 16173 non-null object
executive_chair                      16171 non-null object
standard_chair                       16171 non-null object
monitor                              16171 non-null object
printer                              16171 non-null object
computer                             16172 non-null object
insurance                            16170 non-null object
toner                                16170 non-null object
office_supplies                      16172 non-null object
number_of_employees                  16170 non-null object
language                             11701 non-null object
dtypes: datetime64[ns](1), float64(6), object(13)
memory usage: 2.6+ MB

In [12]:
# Will save this transformed data set and start another notebook page to manage NaN data
df1_Imported = df1
df1_Imported.to_excel(r'C:\Users\emmae\Documents\Emma - Career Development\Columbia Data Science Diploma Program\CapStoneProject\df1_Imported.xlsx')